body {
    background-color: #f3f7f8;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
    padding: 0px 55px 0px 55px;
}

h1, h3 {
    color: #4397a5;
}

.header {
    margin: auto;
    padding: 0px 15px;
    width: 50%;
}

.employment, .education, .skills {
    margin: 0% auto;
    padding: 0px 15px;
    width: 50%;
    text-align: left;
}

.gardening {
    width: 320px;
}

.gaming {
    width: 320px;
}

.music {
    width: 320px;
}

#profile-pic {
    width: 100%;
}

#header-p {
    text-align: left;
}

#skills-th {
    text-align: left;
}

#footer {
    margin: auto;
    padding: 15px;
    width: 50%;
    text-align: center;
}