body {
    background-color: #f3f7f8;
}

table {
    margin: auto;
}

td {

}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1, h3 {
    color: #4397a5;
}

.header {
    margin: auto;
    width: 75%;
    text-align: center;
}

.gardening {
    width: 320px;
}

.gaming {
    width: 320px;
}

.music {
    width: 320px;
}

#profile-pic {
    width: 100%;
}

#skills {
    margin: auto;
    padding: 15px;
    width: 75%;
}

#footer {
    margin: auto;
    padding: 15px;
    width: 75%;
    text-align: center;
}